body {
	margin: 0 !important;
	padding:0 !important;
	max-width:100% !important;
	height:100%;
	padding-bottom:50px !important;
}

/*** Classes ***/

#ab1, #ab2, #ab3, #ab4, #ab5 {
	max-width:75%;
	max-height:80px;
	display:block;
	margin:auto;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

#cropped_image {
	width:40%;
	margin:auto;
	margin-top:15px;
	display:block;

}
#combine-image {
	width:40%;
	margin:auto;
	margin-top:15px;
	display:block;

}

#saved-text {
	color:green;
	margin:auto;
	margin-top:15px;
	text-align:center;
	font-size:16px;
}

.full-page {
	overflow-x: hidden !important;
}

#get-image {
	position:fixed;
	left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    text-align: center;
}

#edit-info {

}

hr {
	margin-top:10px;
	margin-bottom:10px;
}

.page-header {
	margin-top:20px;
	margin-bottom:10px;
	border-bottom:0px !important;
	padding-bottom:0px;

}

.page-header p {
	color:white;
	font-size:16px;
	margin:0;
}

/*** IDs ***/

#canvas-1 {
	width:105%;
	height:100%;
	
}

#hidden-btn {
	padding:0;
	opacity: 0;

}

#hidden-input {
	padding:0px;
	margin-top:-30px;
}

#canvasDiv {
	max-width: 99%;
    max-height: 99%;
}

#menu-bottom {
	background:#CC6666;
	height:1px;
	margin-top: -1px;
}

#menu-item {
	text-align: center;
}

#get-image {

}

#menu-item-current a {
	text-decoration: underline;

}

#modal-text {
	text-align: center;
	color:#258AFD;
	font-size:16px;
	margin:0;
	font-weight: 400;
	text-align: center;
}

#modal-text p{

	margin:0;

}

#myimg {
	width:100%;
}

#form-label {
	font-weight: 400;
	font-size: 16px;
}

#myFileInput {
	display: block !important;
    width: 100% !important;
    opacity: 0 !important;
    overflow: hidden !important;
    margin-top:-30px;
}

#nav-item{
	color:#CC6666;
	text-align: center;
	border-bottom: 2px;
	border-bottom-color: #CC6666;
}
#new-artbyte {
	width:100%;
}
#newsfeed-nav {
	border-bottom:1px;
	border-bottom-color: #CC6666;
}


#selected {
	background:#CC6666;
	height:5px;
	float:center;
	margin-top:4px;
	width:80px;
	margin-left:-55px;
	margin-bottom: 0px;
}

#title {
	text-align:center;
	font-size: 18px;
	margin:0 !important;
	color:white;
}

#to-exhibition p{
	text-align: center;
	color:#258AFD;
	font-size:16px;
	margin:0;
}

#top-bar {
	background-color: #CC6666;
}



