body {
	margin: 0 !important;
	padding:0 !important;
	max-width:100% !important;
	height:100%;
	padding-bottom:50px !important;
}

/*** Classes ***/

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}


.full-page {
		overflow-x: hidden !important;
}

#get-image {
	position:fixed;
	left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    text-align: center;
}

.page-header {
	margin-top:20px;
	margin-bottom:10px;
	border-bottom:0px !important;
	padding-bottom:0px;

}

.page-header p {
	color:white;
}

/*** IDs ***/

#canvas-1 {
	width:105%;
	height:100%;
	
}

#hidden-btn {
	padding:0;
	opacity: 0;

}

#hidden-input {
	padding:0px;
	margin-top:-30px;
}

#canvasDiv {
	max-width: 99%;
    max-height: 99%;
}

#menu-bottom {
	background:#CC6666;
	height:1px;
	margin-top: -1px;
}

#menu-item {
	text-align: center;
}

#menu-item-current a {
	text-decoration: underline;

}

#nav-item{
	color:#CC6666;
	text-align: center;
	border-bottom: 2px;
	border-bottom-color: #CC6666;
}

#newsfeed-nav {
	border-bottom:1px;
	border-bottom-color: #CC6666;
}

#selected {
	background:#CC6666;
	height:5px;
	float:center;
	margin-top:4px;
	width:80px;
	margin-left:-55px;
	margin-bottom: 0px;
}

#title {
	text-align:center;
	font-size: 18px;
	margin:0 !important;
	color:white;
}

#top-bar {
	background-color: #CC6666;
}



